/* CSS declarations go here */
body {
  font-family: Helvetica, sans-serif;
  background-color: #f7720c;
  background-image: linear-gradient(to bottom, #f7720c, #000000 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #000;
  color: #fff;
  background-image: url("asteroid.png");
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.linkForm {
  font-size: 1.2em;
}

.info {
  padding: 20px 15px 15px 15px;
  font-size: 1.2em;
}

.linkForm[type=text] {
  box-sizing: border-box;
  color: #fff;
  padding: 10px 10px 10px 10px;
  background: transparent;
  border: none;
  width: 80%;
  padding-right: 80px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.linkForm[type=text]:focus {
  border-color:#eee;
  background: #222;
  outline: 1;
}

.linkForm[type=submit] {
  position: relative;
  float: right;
  padding: 10px 10px 10px 10px;
  background:#fff;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.linkForm[type=submit]:disabled {
    color: #000;
    background: #222;
}

.searchBar {
  display: grid;
  grid-template-columns: 12% 6% 6% 76%;
  grid-column-gap: 10px;
  background: #999;
  color: #222;
  padding: 10px 15px 10px 15px;
}

.clipboardButton {
  background: #ea4;
  font-size: 1.6em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.clipboardButton:disabled {
  background: #999;
  color: #555;
}

.searchSort {
  background: #999;
  font-size: 1.6em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.searchOrder {
  background: #999;
  font-size: 1.6em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.searchSortItem {
  padding: 5px 5px 5px 5px;
}

.searchIcon {
  font-size: 1.6em;
  padding: 5px 5px 5px 5px;
}

.searchForm[type=text] {
  width: 80%;
  padding: 5px 5px 5px 5px;
  font-size: 1.2em;
  color: #fff;
  background: #aaa;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


ul {
  margin: 0;
  padding: 0;
  background: white;
}

.hearts0 {
  float: right;
  color: #e00;
  font-weight: bold;
  background: none;
  border: none;
  position: relative;
  font-size: 0.8em;
}

.hearts1 {
  float: right;
  color: #e00;
  font-weight: bold;
  background: none;
  border: none;
  position: relative;
  font-size: 1em;
}

.hearts2 {
  float: right;
  color: #e00;
  font-weight: bold;
  background: none;
  border: none;
  position: relative;
  font-size: 1.2em;
}

.hearts3 {
  float: right;
  color: #e00;
  font-weight: bold;
  background: none;
  border: none;
  position: relative;
  font-size: 1.4em;
}

.hearts4 {
  float: right;
  color: #e00;
  font-weight: bold;
  background: none;
  border: none;
  position: relative;
  font-size: 1.6em;
}

.hearts5 {
  float: right;
  color: #e00;
  font-weight: bold;
  background: none;
  border: none;
  position: relative;
  font-size: 1.8em;
}

.manage {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1.1em;
  border: none;
  position: relative;
}

.footBar {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-column-gap: 10px;
  background: #999;
  color: #222;
  padding: 5px 5px 5px 5px;
}

.footButton {
  background: #999;
  padding: 0px 10px 0px 5px;
  font-size: 1.4em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.footButton:disabled {
  color: #555;
}

.footText {
  background: #999;
  padding: 5px 5px 5px 5px;
  font-size: 1.1em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.footInfoOff {
  background: transparent;
  font-size: 1.6em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.footInfoOn {
  background: #ea4;
  font-size: 1.6em;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.marked {
  background: #ea4;
}

li.odd {
  background: #eee;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.sender {
  color: #222;
  padding: 10px 15px 10px 15px;
  font-size: 0.8em;
}

/* unvisited link */
a:link {
    color: #e87204;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: #b75a03;
}

/* mouse over link */
a:hover {
    color: #fc881b;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-link input {
    padding-bottom: 5px;
  }
}
